# Default ignored files

/db.sqlite3

/shelf/
/workspace.xml
/misc.xml
*/.idea
/inspectionProfiles/Project_Default.xml
.idea
*/idea
/modules.xml
/inspectionProfiles/profiles_settings.xml
/vcs.xml
/gestao-rh/db.sqlite3
/rh_manager/db.sqlite3
/venv
db.sqlite3
/gestao-rh.iml

/gestao-rh